# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Environment variables
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store

# Build directory
bin/
dist/

# Dependency directories
vendor/

# Log files
*.log